@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.presentation {
  --website-black-bg: #121212;
  --website-black-text: #dcddde;

  --website-white-bg: #e0dfdf;
  --website-white-text: #848585;
  --website-white-text-highlight: #181818;

  --website-blue-bg: #141418;
  --website-blue-text: #a7a8a8;
  --website-blue-text-highlight: #dcddde;
  --section-padding: 120px;

  --max-nav-width: calc(var(--nav-width) + 250px * 2);

  overflow: auto;
  height: 100vh;
  background: var(--presentation-bg);

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: unset;
    max-width: var(--max-nav-width);
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    padding: 15px;

    .connect {
      transform: var(--transition);
      min-width: 125px;
      cursor: pointer;
      padding: 15px;
      border-radius: 50px;
      text-align: center;
      background-color: var(--bg-secondary);

      &:hover {
        transform: var(--transition);
        background-color: var(--bg-third);

        a {
          color: var(--text-normal-hover);
        }
      }
    }
  }

  .hero {
    max-width: var(--max-nav-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

    @media screen and (max-width: 800px) {
      padding-top: unset;
      padding-bottom: unset;
    }
  }

  footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    border-top: 1px solid var(--bg-secondary);
    text-align: center;

    @media screen and (max-width: 800px) {
      flex-flow: column wrap;
      flex-direction: column;
      justify-content: center;
    }

    div {
      display: flex;
      flex-direction: column;

      span {
        cursor: pointer;
        transition: var(--transition);
        color: var(--text-normal);

        &:hover {
          transition: var(--transition);
          color: var(--text-normal-hover);
        }
      }

      a {
        &:hover {
          transition: var(--transition);
          color: var(--text-normal-hover);
        }
      }
      h3 {
        color: var(--website-white-text);
      }
    }
  }
}
