.global {
    color: var(--text-normal);

    &.uppercase {
        text-transform: uppercase;
    }

    &.underline {
        text-decoration: underline;
    }

    &.pointer {    
        cursor: pointer;
        transition: var(--transition);

        &:hover {

            &.noHover {
                &:hover {
                    filter: none;
                }
            }
            
            transition: var(--transition);
            filter: grayscale(50%) opacity(0.7);
        }
    }

    &.contained {
        /* haut | droit | bas | gauche */
        padding: 10px 20px 10px 20px;
        text-align: center;
        border-radius: 20px;
        background-color: var(--bg-secondary);
        font-size: 16px;
        margin: 5px;

        &:hover {
            transition: var(--transition);
            background-color: var(--bg-primary);
            filter: none;
        }
    }
}